# Problem Set 2

##

## Question 1

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()  #first call

In [3]:
b()   #second call

In [4]:
b()    #third call

In [5]:
a       #printing final value

6

**Explaination:**
"a" is a global variable and is used in b & c and its intial value is 0. 
Each time 2 is added to previous value of "a" (i.e. its value raise by 2) when function b() is called. 

In the first step,  when a=0, then b()= 0+2= 2

In the second step, when a=2, then b()= 2+2= 4

In the third step,  when a=4, then b()= 4+2= 6

So, at this step when we printed value of "a" we got 6 as output

#

## Question 2

In [6]:
def filelength(myFile):
    try:
        testFile = open(myFile, mode='r')        # opening and reading file
        wordsInIt=testFile.read()
        print(str(len(wordsInIt)))
        testFile.close()
    except:
            print('File '+myFile+' not found.')       # file not in same directory or if misspelled

In [7]:
filelength("currencies.txt")

477

In [8]:
filelength("idterm.py")

File idterm.py not found.

#

## Question 3

In [9]:
 class Marsupial:
    def __init__(abc):
        abc.lst = []

    def put_in_pouch(abc, thing):
        abc.lst.append(thing)

    def pouch_contents(abc):
        return abc.lst

In [10]:
    m = Marsupial()
    m.put_in_pouch('doll')
    m.put_in_pouch('firetruck')
    m.put_in_pouch('kitten')
    m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [11]:
   class Kangaroo(Marsupial):
        def __init__(abc,x,y):
            Marsupial.__init__(abc)
            abc.x = x
            abc.y = y
    
        def jump(abc,dx,dy): 
            abc.x = abc.x + dx
            abc.y = abc.y + dy
        
        def __str__(abc):
            return 'I am a kangaroo located at at coordinates ({},{})'.format(abc.x, abc.y)

In [12]:
k = Kangaroo(0,0)
print(k)

I am a kangaroo located at at coordinates (0,0)

In [13]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [14]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at at coordinates (3,0)

#

## Question 4

In [15]:
def collatz(x):                   
    if x != 1:
        if x%2 == 0:               
            print(int(x))         #even
            collatz(x/2)       
        
        else:
            print(int(x))         # odd
            collatz(3*x+1)          
  
    else:
        print(int(x));

In [16]:
collatz(1)

1

In [17]:
collatz(10)

10
5
16
8
4
2
1

#

## Question 5

In [18]:
def binary(n):
     if n == 0:
        return 0
     elif n > 0:
        return (n % 2 + 10 * binary(int(n // 2)))      #positive integer more than 0
     else:
        return 'Insert a non-negative integer'          #if integer is negative

In [19]:
binary(0)

0

In [20]:
binary(1)

1

In [21]:
binary(3)

11

In [22]:
binary(9)

1001

#

## Question 6

In [23]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):   
    def __init__(xyz):
        HTMLParser.__init__(xyz)
        xyz.head =0      
        xyz.intend = ""
        
    def handle_starttag(xyz, tag, attrs):
        if tag[:-1]=='h':
            xyz.head = "type"
            
    def handle_data(xyz, data):
        if xyz.head=="type":
            print(xyz.intend+ data)
            xyz.intend+= "    "
            xyz.head=0

In [24]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
    Principles

#

## Question 8

In [25]:
import sqlite3

con = sqlite3.connect('Thisdb')

cur = con.cursor()

cur.execute("CREATE TABLE global_climates (City text, Country text, Season text, Temperature dec, Rainfall dec)")

cur.execute("INSERT INTO global_climates VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")

cur.execute("INSERT INTO global_climates VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")

cur.execute("INSERT INTO global_climates VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")

cur.execute("INSERT INTO global_climates VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")

cur.execute("INSERT INTO global_climates VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")

cur.execute("INSERT INTO global_climates VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")

cur.execute("INSERT INTO global_climates VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")

cur.execute("INSERT INTO global_climates VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")

cur.execute("INSERT INTO global_climates VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")

cur.execute("INSERT INTO global_climates VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")

cur.execute("INSERT INTO global_climates VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")

cur.execute("INSERT INTO global_climates VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

con.commit()
con.close()

## a)

In [26]:
con = sqlite3.connect('Thisdb')
cur = con.cursor()

cur.execute('SELECT Temperature FROM global_climates')                 #All the temperature data
for record in cur:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

## b)

In [27]:
cur.execute('SELECT DISTINCT City FROM global_climates')            # All the cities, but without repetition
for record in cur:
    print(record)

('Mumbai',)
('London',)
('Cairo',)

## c)

In [28]:
cur.execute("SELECT * FROM global_climates where Country=='India'")        #  All the records for India
for record in cur:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)

## d)

In [29]:
cur.execute("SELECT * FROM global_climates where Season=='Fall'")     # All the Fall records
for record in cur:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

## e)

In [30]:
cur.execute("SELECT City, Country, Season FROM global_climates where Rainfall between 200 and 400")
for record in cur:
    print(record)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

## f)

In [31]:
cur.execute("SELECT City, Country FROM global_climates where Season=='Fall' and Temperature>20 ORDER BY Temperature ASC")
for record in cur:
    print(record)

('Cairo', 'Egypt')
('Mumbai', 'India')

## g)

In [32]:
cur.execute("SELECT SUM(Rainfall) FROM global_climates where City=='Cairo'")       # The total annual rainfall for Cairo
for record in cur:
    print(record)

(27.6,)

## h)

In [33]:
cur.execute("SELECT SUM(Rainfall), Season FROM global_climates GROUP BY Season")        # The total rainfall for each season
for record in cur:
    print(record)
    
con.close()

(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

#

## Question 9

In [34]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']     #creating list

## a)

In [35]:
[a.upper() for a in words]               # list in uppercase only

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

## b)

In [36]:
[b.lower() for b in words]              # list in lowercase only

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

## c)

In [37]:
[len(c) for c in words]               # length of each word in list

[3, 5, 5, 3, 5, 4, 3, 4, 3]

## d)

In [38]:
[[d.upper(), d.lower(), len(d)] for d in words]      # list containing uppercase, lowercase and the length of the word

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

## e)

In [39]:
[e for e in words if len(e) >= 4]                # list containing words having 4 or more characters

['quick', 'brown', 'jumps', 'over', 'lazy']

#

### -Submitted by Pargat Singh